canvas { border: 7px solid white; }
body { 
  background-color: black; 
  color: white;
  font-size: 16pt;
}
#div-text {
  float: left;
  width: 30%;
  height: auto;
}
#div-canvas {
  float: left;
  width: 70%;
  height: auto;
}
